body {
    background: none !important;
    background-size: 100%;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: '-20%';
}

.container h2 {
    margin-bottom: 40px;
    color: white;
    font-size: 40px;
}