.background {
    background-image: url("https://images.unsplash.com/photo-1556388158-158ea5ccacbd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    position: absolute;
    background-position-y: 45%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 300px auto auto;
}

.container h2 {
    color: white;
    font-size: 40px;
    margin-top: 3%;
}

  