*, body {
  margin: 0;
  padding: 0;
  outline: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #000000;
}

.App {
  align-items: center;
  text-align: center;
}